@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

h1 {
    text-align: center;
    font-family: 'IBM Plex Mono';
    font-style: inherit;
    font-weight: 400px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.87);
    text-shadow: 3px 3px 3px rgb(29, 25, 25),
                   2px 3px 8px rgb(34, 30, 30); 
}

h2 {
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    font-size: 12px;
}

h3 {
    font-weight: bolder;
    color: black;
}

header {
    background-image: url('../img/huntington.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    padding-top: 40px;
    padding-bottom: 40px;
}

#css-zen-garden {
    
}

.page-wrapper {

}

.intro {
   
}

#zen-intro {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.summary {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

#zen-summary {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.preamble {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

#zen-preamble {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-supporting {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

#zen-supporting {

}

.explanation {

}

#zen-explanation {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.participation {
    background-image: url('../img/bamboo.png');
    background-color: rgb(107, 136, 107);
}

#zen-participation {
    color: white;
}

.benefits {

}

#zen-benefits {

}

.requirements {

}

#zen-requirements {

}